@import "../../../assets/color.scss";
@import "../../../assets/font.scss";

.wrapper {
  max-height: 186px;
  position: relative;
  margin: -2px;
  padding: 40px 24px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  background: $white;
  border: 2px solid transparent;
  border-image: linear-gradient(150deg, $blue-2 0.37%, rgba(202, 231, 255, 0)) 1;
  box-shadow: 0px 4px 16px rgba(0, 0, 0, .04);
  gap: 16px;

  .content {
    @extend .heading4;
    height: 34px;
    align-self: stretch;
    text-align: center;
  }
}