$gray-color: #7a8288;
$black-color: #2c3e50;
$white-color: #ffffff;
$border-color: #e0e0e0;
$warning-color: #d9534f;
$warning-background: #f8d7da;
$background-icon: #0d4c8c;
$background-button: #3c7eb4;
$green-color: #28a745;
$green-hover-color: #218838;
$gray-dark-color: #6c757d;
$gray-dark-hover-color: #5a6268;

.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal {
  background-color: $white-color;
  padding: 20px 30px;
  width: auto;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.modalHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 22px;
  color: $black-color;
  font-weight: bold;
}

.closeButton {
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
  color: $gray-color;
}

.modalContent {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.inputContainer .textAreaContainer {
  display: flex;
  flex-direction: column;
  // gap: 8px;
  // margin-bottom: 15px;
}

.submitContainer {
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: center;
}

.label {
  font-size: 14px;
  font-weight: 500;
  color: $black-color;
  margin-top: 10px;
}

.textField,
.fileInput,
.textArea {
  width: 100%;
  padding: 10px;
  border: 1px solid $border-color;
  border-radius: 6px;
  transition: border-color 0.3s ease;

  &:focus {
    border-color: $background-button;
    outline: none;
  }
}

.button {
  padding: 10px 16px;
  border-radius: 5px;
  font-size: 14px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s ease, color 0.3s ease;

  &--apply {
    background-color: $background-button;
    color: $white-color;
    border: none;
    width: 100%;
    font-size: 16px;
    font-weight: bold;

    &:hover {
      background-color: darken($background-button, 10%);
    }
  }

  &--submit {
    background-color: $background-icon;
    color: $white-color;
    font-size: 15px;
    font-weight: bold;

    &:hover {
      background-color: $background-button;
    }
  }

  &--cancel {
    background-color: white;
    color: black;
    font-size: 15px;
    font-weight: bold;

    &:hover {
      background-color: white;
    }
  }
}

.uploadedFileInfo {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 14px;
  margin-top: 8px;
}

.removeFileButton {
  background: none;
  border: none;
  color: $warning-color;
  cursor: pointer;
  font-size: 14px;

  &:hover {
    text-decoration: underline;
  }
}

.successMessage {
  font-size: 14px;
  color: $green-color;
  text-align: center;
}
