@font-face {
  font-family: 'SVN-Gilroy';
  src: url('../../fonts/SVN-Gilroy\ Medium.otf');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'SVN-Gilroy';
  src: url('../../fonts/SVN-Gilroy\ Medium\ Italic.otf');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'SVN-Gilroy';
  src: url('../../fonts/SVN-Gilroy\ SemiBold.otf');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'SVN-Gilroy';
  src: url('../../fonts/SVN-Gilroy\ SemiBold\ Italic.otf');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'SVN-Gilroy';
  src: url('../../fonts/SVN-Gilroy\ Bold.otf');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'SVN-Gilroy';
  src: url('../../fonts/SVN-Gilroy\ Bold.otf');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'SVN-Gilroy';
  src: url('../../fonts/SVN-Gilroy\ XBold.otf');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'SVN-Gilroy';
  src: url('../../fonts/SVN-Gilroy\ XBold\ Italic.otf');
  font-weight: 800;
  font-style: italic;
}

// .h1 {
//   font-family: SVN-Gilroy;
//   font-style: normal;
//   font-weight: 500;
//   font-size: 32px;
// }

// .h2 {
//   font-family: SVN-Gilroy;
//   font-style: normal;
//   font-weight: 500;
//   font-size: 24px;
// }

// .h3 {
//   font-family: SVN-Gilroy;
//   font-style: normal;
//   font-weight: 500;
//   font-size: 20px;
// }

// .h4 {
//   font-family: SVN-Gilroy;
//   font-style: normal;
//   font-weight: 500;
//   font-size: 16px;
// }

// .body-text {
//   font-family: SVN-Gilroy;
//   font-style: normal;
//   font-weight: normal;
//   font-size: 14px;
// }

// .button-text {
//   font-family: SVN-Gilroy;
//   font-style: normal;
//   font-weight: 600;
//   font-size: 16px;
// }

.input-text {
  font-family: SVN-Gilroy;
  font-style: normal;
  font-weight: 200;
  font-size: 14px;
}

.table-header-text {
  font-family: SVN-Gilroy;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
}

// .tooltip-text {
//   font-family: SVN-Gilroy;
//   font-style: normal;
//   font-weight: normal;
//   font-size: 11px;
// }

/*
* ===================================
* Typography for AIC Platform Website
* ===================================
*/
.heading1 {
  font-family: SVN-Gilroy, sans-serif;
  font-weight: 800;
  font-size: 56px;
  font-style: normal;
  line-height: 140%;
}

.heading2 {
  font-family: SVN-Gilroy, sans-serif;
  font-weight: 700;
  font-size: 48px;
  font-style: normal;
  line-height: 140%;
}

.heading3 {
  font-family: SVN-Gilroy, sans-serif;
  font-weight: 600;
  font-size: 40px;
  font-style: normal;
  line-height: 140%;
}

.heading4 {
  font-family: SVN-Gilroy, sans-serif;
  font-weight: 600;
  font-size: 24px;
  font-style: normal;
  line-height: 140%;
}

.heading5 {
  font-family: SVN-Gilroy, sans-serif;
  font-weight: 500;
  font-size: 20px;
  font-style: normal;
  line-height: 140%;
}

.heading6 {
  font-family: SVN-Gilroy, sans-serif;
  font-weight: 500;
  font-size: 18px;
  font-style: normal;
  line-height: 140%;
}

.body-text {
  font-family: SVN-Gilroy;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  line-height: 140%;
}

.button-text {
  font-family: SVN-Gilroy;
  font-size: 14px;
  font-weight: 500;
  font-style: normal;
  line-height: 140%;
}
