/** @format */

.mainLayout {
  position: relative;
  overflow: hidden;

  .mainContent {
    transition: 0.5s ease;
    z-index: 4;
    padding-top: 24px;
    padding-left: 100px;
    padding-right: 24px;

    @media (max-width: 992px) {
      padding-left: 24px !important;
    }
  }
}
