@import "../../../assets/color.scss";
@import "../../../assets/font.scss";

.wrapper {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  max-height: 250px;
  background: url("../../../assets/images/CooperationModelBackground.png") no-repeat center center/cover;
  padding: 48px;
  color: $white;

  .ellipse {
    background: url("../../../assets/images/EllipseBlur.svg") no-repeat center/contain;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
  }

  p {
    margin-top: 24px;
    @extend .heading4;

    &.hasSlash {
      word-break: break-all;
    }
  }
}