@import '../../../../common/ui/assets/color.scss';
@import '../../../../common/ui/assets/font.scss';

.container {
  transition: all 0.5s ease-in;

  .firstBlock {
    display: flex;
    margin-bottom: 24px;

    @media (max-width: 1200px) {
      flex-direction: column;

      & > div:first-child {
        margin-bottom: 24px;
      }
    }
  }

  .turnBack {
    cursor: pointer;
    display: flex;
    align-items: center;
    width: fit-content;
    margin-bottom: 24px;

    &:hover {
      p {
        color: $blue-3;
      }
      svg {
        fill: $blue-3;
      }
    }
  }

  .extractableInfoFields {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    flex-wrap: wrap;
    gap: 16px;

    @media (max-width: 946px) {
      flex-wrap: nowrap;
      flex-direction: column;
    }

    & > div {
      flex: 1;
      min-width: 300px;

      &:nth-child(1) {
        margin-left: 0px;
      }

      &:nth-child(2) {
        @media (max-width: 946px) {
          margin-left: 0px;
        }
      }

      &:nth-child(3) {
        @media (max-width: 1383px) {
          margin-left: 0px;
        }
      }

      @media (max-width: 1405px) {
        margin-bottom: 8px;
      }
    }
  }

  .imageRequirementContainer {
    display: flex;
    align-items: center;
    @extend .body-text;
    margin-bottom: 16px;

    &:last-child {
      margin-bottom: 0px;
    }

    img {
      flex-shrink: 0;
      margin-right: 12px;
    }
  }

  .caseErrorFields {
    height: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 16px;

    @media (max-width: 768px) {
      grid-template-columns: repeat(2, 1fr);
    }

  }

  .line {
    margin-top: 0px;
    margin-bottom: 24px;
    border: 0px;
    border-top: 1px solid $gray-1;
  }

  .functions {
    width: 100%;
    display: flex;
    overflow: auto;
    justify-content: space-between;

    .function {
      cursor: pointer;
      flex: 1;
      display: flex;
      flex-direction: column;
      align-items: center;
      background: $blue-1;
      border-radius: 16px;
      padding: 24px;
      outline: none;
      border: none;
      margin-right: 24px;

      &:disabled {
        cursor: not-allowed;
        background: $gray-1;

        .image {
          border: 2px solid $gray-2;
        }

        .select {
          background: $gray-2;

          .label {
            color: $white;
          }
        }
      }

      &:last-child {
        margin-right: 0px;
      }

      .image {
        background: $white;
        border-radius: 8px;
        margin-bottom: 24px;
        border-radius: 8px;
        border: 2px solid $blue-2;
      }

      .select {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background: $white;
        border-radius: 4px;
        padding: 9px 0px;
        transition: all 0.4s ease-out;

        &.isActive {
          background: $blue-2;

          .label {
            font-weight: 600;
            color: $blue-3;
          }
        }

        .label {
          margin-left: 8px;
          @extend .body-text;
        }
      }
    }
  }

  .dragDropImage {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px dashed $blue-3;
    border-radius: 4px;
    padding: 24px;

    .fileContainer {
      margin-top: 16px;
      margin-bottom: 16px;
      display: flex;
      flex-direction: column;
      align-items: center;

      p {
        margin-bottom: 8px;
        @extend .body-text;
        font-weight: 600;

        &:nth-child(2) {
          @extend .body-text;
          font-weight: 500;
        }
      }

      .textLabel {
        p {
          margin-bottom: 0px;
        }
      }
    }

    .note {
      @extend .button-text;
      text-align: center;
    }
  }

  .resultContainer {
    display: grid;
    grid-template-columns: 1fr auto 1fr;

    .imageContainer {
      border: 2px solid $blue-2;
      border-radius: 16px;
      object-fit: cover;
    }

    .divider {
      width: 1px;
      height: 100%;
      border: 1px dashed $gray-1;
      margin: 0px 24px;
    }

    .tableContainer {
      max-width: 77%;
      padding: 24px;
      border-radius: 16px;
      border: 2px solid $blue-2;

      .value {
        font-weight: 600;
      }
    }
  }
}

.wrapperSection {
  min-width: 32%;
  margin-right: 32px;

  @media (max-width: 1200px) {
    width: 100%;
    min-width: 0px;
    margin-right: 0px;
  }
}

.sectionContent {
  width: 100%;
  border: 1px solid $gray-1;
  border-radius: 8px;
  padding: 24px;
}
