@import '../../../common/ui/assets/color.scss';
@import '../../../common/ui/assets/font.scss';
@import '../../../common/ui/assets/index.scss';

.bannerSection {
  color: $white;
  position: inherit;
  // padding: 0px 200px;

  .bannerContainer {
    max-width: 100%;
    margin: 0px auto;
    padding: 56px 0px;
    background: #032170;
    // background-color: #0a4e99;

    .top {
      max-width: 68%;
      padding-top: 0px;
      margin: 0px auto;
      display: flex;
      flex-flow: column nowrap;
      justify-content: flex-start;
      align-items: center;
      text-align: center;
      font-size: 40px;

      .topTitle {
        @extend .heading1;
        margin-bottom: 16px;
      }

      .topSubTitle {
        @extend .heading4;
        margin-bottom: 24px;
      }

      .btnGroup {
        display: flex;
        justify-content: center;
        align-items: center;

        & > button {
          flex: 1;
          min-width: 252px;
        }

        .contactBtn {
          margin-right: 24px;
          border: 1px solid $white;
        }
      }
    }
  }
}

.no-followed-companies {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 50px auto;
  padding: 20px;
  width: 50%; /* Chiều rộng container */
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

  &__title {
    font-size: 20px;
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
  }

  &__message {
    font-size: 16px;
    color: #666;
    margin-bottom: 20px;
  }

  &__button {
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #1890ff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: #40a9ff;
    }
  }
}

.followed-companies {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 20px auto;
  width: 50%;
  padding: 16px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

  &__list {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
  }

  &__item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 12px 16px;
    background-color: #fff;
    border: 1px solid #e5e5e5;
    border-radius: 8px;
    margin-bottom: 16px;
    transition: box-shadow 0.2s;

    &:hover {
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }
  }

  &__info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: auto;
    cursor: pointer;
  }

  &__details {
    display: flex;
    flex-direction: column;
    gap: 4px;
  }

  &__name {
    font-size: 16px;
    font-weight: 600;
    color: #333;
    margin: 0;
  }

  &__address {
    font-size: 14px;
    color: #666;
    margin: 0;
  }

  &__remove {
    background-color: transparent;
    border: none;
    color: #f5222d;
    font-size: 14px;
    cursor: pointer;
    transition: color 0.2s;

    &:hover {
      color: #cf1322;
    }
  }
}
