/** @format */

@import '../../../../../common/ui/assets/color.scss';

.filterForm {
  display: flex;

  .inputField {
    min-width: 240px;
    max-width: 300px;
  }
}

.apiKeyForm {
  .contentBlock {
    flex-basis: 0;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;

    .leftCol {
      margin-top: 70px;
    }
  }
}

.buttonFrame {
  border-radius: 2px;
  padding: 4px;
  background: $table-row;
  margin-right: 18px;
  display: flex;
  align-items: center;
  justify-content: center;

  .activeBtn {
    font-size: 14px;
    padding: 8px;
    background: $white !important;
    color: $primary !important;
    border-radius: 5px !important;
    box-shadow: none !important;

    &:disabled {
      cursor: not-allowed;
      @extend .activeBtn;
      background: none !important;
      color: $text-disable !important;
    }
  }

  .disableBtn {
    @extend .activeBtn;
    background: none !important;
    color: $text-disable !important;
    box-shadow: none !important;
    border: none !important;
  }
}

.btnGroup {
  display: flex;
  justify-content: flex-end;
  margin-top: 8px;

  button {
    width: 100px;

    &[type='submit'] {
      margin-left: 16px;
    }
  }
}

.addButton {
  display: flex;
  align-items: center;
  cursor: pointer;
  width: fit-content;

  .buttonText {
    margin-left: 10px;
    color: $primary;
    font-weight: 500;
    font-size: 15px;
  }
}

.packageFeatureWrapper {
  .packageFeatureInfo {
    display: flex;

    & > div {
      flex: 1;
    }

    &:not(:last-child) {
      padding-bottom: 16px;
    }

    &:not(:first-child) {
      border-top: 1px solid $shadow;
      padding-top: 16px;
    }

    & > :first-child {
      margin-left: -15px;
    }

    & > :last-child {
      margin-right: -15px;
    }
  }
}

.leftCol {
  margin-top: 90px;
  padding-top: 30px;

  .checkBox {
    margin-bottom: 28px;
  }
}
